In [1]:
import pandas as pd

# pd series

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream)[0]

'Chocolate'

In [3]:
lottery_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lottery_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]
pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

### create a series from a dictionary
key > pd's index

In [5]:
sushi = {
    "Salmon": "Orange",
    "Tuna": "Red",
    "Eel": "Brown"
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Series methods
series is a value list (mapped to python lists and dicts); 1 dim 
### There are parethesis

In [6]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [7]:
print(prices.mean())
print(prices.sum())
print(prices.product())
print(prices.median())
print(prices.std())

2.9333333333333336
8.8
18.095480000000006
2.99
1.5457791994115246

## Series attributes
### There are NO paretheses

In [8]:
adjectives = pd.Series(["Smart", "Handsome", "Charming", "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [9]:
print(adjectives.size)
print(adjectives.is_unique)
print(adjectives.values)
print(adjectives.index)
print(type(adjectives.index))
print(type(adjectives.values))

6
False
['Smart' 'Handsome' 'Charming' 'Brilliant' 'Humble' 'Smart']
RangeIndex(start=0, stop=6, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>
<class 'numpy.ndarray'>

In [10]:
# positional and keyword arguments
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

pd.Series(fruits)
pd.Series(weekdays)
pd.Series(fruits, weekdays)
print(pd.Series(weekdays, fruits)) # data, index by default
print("\n")
print(pd.Series(index = fruits, data = weekdays))
print("\n")
print(pd.Series(fruits, index = weekdays))

Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object


Apple            Monday
Orange          Tuesday
Plum          Wednesday
Grape          Thursday
Blueberry        Friday
Watermelon       Monday
dtype: object


Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

### Within a function, press shift + tab to see arg detail info

## Read a table

df: a two dim table

In [11]:
df_google= pd.read_csv("google_stock_price.csv")
df_google.head()

         Date     Price
0  2004-08-19  2.490664
1  2004-08-20  2.515820
2  2004-08-23  2.758411
3  2004-08-24  2.770615
4  2004-08-25  2.614201

In [12]:
df_pokemon= pd.read_csv("pokemon.csv")
df_pokemon.head()

         Name           Type
0   Bulbasaur  Grass, Poison
1     Ivysaur  Grass, Poison
2    Venusaur  Grass, Poison
3  Charmander           Fire
4  Charmeleon           Fire

### convert a df to a series
- The `squeeze` method converts a **DataFrame** to a **Series**.
- usecols, index_col

In [13]:
# squeeze only works for one-col df
pokemon = pd.read_csv("pokemon.csv",usecols=["Name"]).squeeze("columns")
pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [14]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

# coffee = pd.read_csv("coffee.csv",index_col=["Coffee"]).squeeze("columns")

In [15]:
# head & tail
pokemon.head()
pokemon.tail(10)

1000        Wo-Chien
1001       Chien-Pao
1002         Ting-Lu
1003          Chi-Yu
1004    Roaring Moon
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, dtype: object

## basic series functions: len, type, list, dict (new), sorted, max, and min

In [16]:
len(pokemon)

1010

In [17]:
type(pokemon)

pandas.core.series.Series

In [18]:
list(pokemon)[0:3]
sorted(pokemon)[0:3]

['Abomasnow', 'Abra', 'Absol']

In [19]:
#dict(pokemon)

#{0: 'Bulbasaur',
# 1: 'Ivysaur',
# 2: 'Venusaur',

In [20]:
max(google), min(google),google.mean()

(151.863495, 2.47049, 40.211376870018775)

## search within a series: IN 
### default: ONLY on index, need to add .values (return np nd arrary)

In [21]:
"Ivysaur" in pokemon, 0 in pokemon, "Bulbasaur" in pokemon.values

(False, True, True)

## sorting series with sort_values(): not changing the original series

In [22]:
google.sort_values(ascending = False)

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
           ...
12        2.515820
11        2.514326
13        2.509095
0         2.490664
10        2.470490
Name: Price, Length: 4793, dtype: float64

## sorting series with sort_index()

In [23]:
pokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [24]:
pokemon.sort_index()

Name
Abomasnow        Grass, Ice
Abra                Psychic
Absol                  Dark
Accelgor                Bug
Aegislash      Steel, Ghost
                  ...
Zoroark                Dark
Zorua                  Dark
Zubat        Poison, Flying
Zweilous       Dark, Dragon
Zygarde      Dragon, Ground
Name: Type, Length: 1010, dtype: object

## extract series values by index position
- iloc : i must be specific index
- iloc is short for "index location"
- supports any normal python list slicing

In [25]:
pokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.iloc[1]

'Grass, Poison'

In [26]:
#multiple requests
pokemon.iloc[[100,200,300]]

Name
Electrode    Electric
Unown         Psychic
Delcatty       Normal
Name: Type, dtype: object

In [27]:
pokemon.iloc[0:3]

Name
Bulbasaur    Grass, Poison
Ivysaur      Grass, Poison
Venusaur     Grass, Poison
Name: Type, dtype: object

In [28]:
pokemon.iloc[:2]

Name
Bulbasaur    Grass, Poison
Ivysaur      Grass, Poison
Name: Type, dtype: object

## FIND a value by index label I (find a value based on label)
loc: add label, not value

In [29]:
pokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [30]:
pokemon.loc["Bulbasaur"], pokemon.iloc[0]

('Grass, Poison', 'Grass, Poison')

In [31]:
pokemon.loc[["Bulbasaur","Mewtwo","Jolteon"]]

Name
Bulbasaur    Grass, Poison
Mewtwo             Psychic
Jolteon           Electric
Name: Type, dtype: object

## FIND a value by index label II get (find a value based on label)
different from loc: you can define the False results

In [32]:
pokemon.get("Moltres")

'Fire, Flying'

In [33]:
pokemon.get("Digimon")

In [34]:
pokemon.get("Digimon",default="I don't see anything")

"I don't see anything"

In [35]:
pokemon.get(["Bulbasaur","Mewtwo","Jolteon123"])

## overwrite one or more values, just =

In [36]:
pokemon.iloc[0] = "whatever"
pokemon.iloc[0]

'whatever'

In [37]:
pokemon.iloc[[0,1,2]] = ["whatever","whatever","whatever"]
pokemon.iloc[0:3]

Name
Bulbasaur    whatever
Ivysaur      whatever
Venusaur     whatever
Name: Type, dtype: object

In [38]:
pokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")

In [39]:
pokemon.loc["Bulbasaur"] = "whatever"
pokemon.loc["Bulbasaur"]

'whatever'

## The copy Method: .copy()
- A **copy** is a duplicate/replica of an object.
- Changes to a copy do not modify the original object.
- A **view** is a different way of looking at the *same* data.
- Changes to a view **DO** modify the original object.
- The `copy` method creates a copy of a pandas object.

In [40]:
pokemon_df = pd.read_csv("pokemon.csv",usecols=["Name"])

In [41]:
pokemon_series = pokemon_df.squeeze("columns") #df to series

In [42]:
# pokemon_series is a view
pokemon_series[0] = "123"
pokemon_series.head()

0           123
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [43]:
pokemon_df #df is also updated

              Name
0              123
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [44]:
pokemon_series = pokemon_df.squeeze("columns").copy() #df to series copy
pokemon_series[0] = "324"
pokemon_df.head()

         Name
0         123
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

## Math Methods on Series Objects

- The `count` method returns the number of values in the **Series**. It excludes missing values; the `size` attribute includes missing values.
- The `sum` method adds together the **Series's** values.
- The `product` method multiplies together the **Series's** values.
- The `mean` method calculates the average of the **Series's** values.
- The `std` method calculates the standard deviation of the **Series's** values.
- The `max` method returns the largest value in the **Series**.
- The `min` method returns the smallest value in the **Series**.
- The `median` method returns the median of the **Series** (the value in the middle).
- The `mode` method returns the mode of the **Series** (the most frequent alue).
- The `describe` method returns a summary with various mathematical calculations.

In [45]:
google.count(), google.size

(4793, 4793)

In [46]:
google.sum(), google.iloc[[1,2,3,4]].product(), google.mean()

(192733.129338, 50.263612539359066, 40.211376870018775)

In [47]:
google.max(), google.min(), google.median()

(151.863495, 2.47049, 26.327717)

In [48]:
google.mode()

0    14.719826
1    49.000000
Name: Price, dtype: float64

In [49]:
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting: global arithmetics
- **Broadcasting** describes the process of applying an arithmetic operation to an array (i.e., a **Series**).
- We can combine mathematical operators with a **Series** to apply the mathematical operation to every value.
- There are also methods to accomplish the same results (`add`, `sub`, `mul`, `div`, etc.)

In [50]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [51]:
google.add(10)

0        12.490664
1        12.515820
2        12.758411
3        12.770615
4        12.614201
           ...
4788    142.080002
4789    142.998001
4790    145.570007
4791    147.050003
4792    148.429993
Name: Price, Length: 4793, dtype: float64

In [52]:
google -10 #x, /, ...

0        -7.509336
1        -7.484180
2        -7.241589
3        -7.229385
4        -7.385799
           ...
4788    122.080002
4789    122.998001
4790    125.570007
4791    127.050003
4792    128.429993
Name: Price, Length: 4793, dtype: float64

In [53]:
google.div(1)

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

In [54]:
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

## frequency count based on values: value_counts

In [55]:
pokemon = pd.read_csv("pokemon.csv",index_col=["Name"]).squeeze("columns")

In [56]:
pokemon.value_counts() #function like Counter

Type
Water               74
Normal              74
Grass               46
Psychic             39
Fire                36
                    ..
Fighting, Ice        1
Fire, Dragon         1
Normal, Dragon       1
Psychic, Steel       1
Fighting, Dragon     1
Name: count, Length: 200, dtype: int64

In [57]:
pokemon.value_counts(normalize=True) #percentages

Type
Water               0.073267
Normal              0.073267
Grass               0.045545
Psychic             0.038614
Fire                0.035644
                      ...
Fighting, Ice       0.000990
Fire, Dragon        0.000990
Normal, Dragon      0.000990
Psychic, Steel      0.000990
Fighting, Dragon    0.000990
Name: proportion, Length: 200, dtype: float64

In [58]:
pokemon.value_counts()["Water"]

74

## apply() method

- use a function for EVERY value in the series
- in the string example, pd built-in func probably better than these

In [59]:
def add123(x):
    return len(x + "123")

pokemon.apply(add123)

Name
Bulbasaur       16
Ivysaur         16
Venusaur        16
Charmander       7
Charmeleon       7
                ..
Iron Valiant    18
Koraidon        19
Miraidon        19
Walking Wake    16
Iron Leaves     17
Name: Type, Length: 1010, dtype: int64

In [60]:
pokemon.apply(lambda x: x+"321" if "Grass" in x else x)

Name
Bulbasaur        Grass, Poison321
Ivysaur          Grass, Poison321
Venusaur         Grass, Poison321
Charmander                   Fire
Charmeleon                   Fire
                      ...
Iron Valiant      Fairy, Fighting
Koraidon         Fighting, Dragon
Miraidon         Electric, Dragon
Walking Wake        Water, Dragon
Iron Leaves     Grass, Psychic321
Name: Type, Length: 1010, dtype: object

## The map Method
- The `map` method "maps" or connects each **Series** values to another value.
- We can pass the method a dictionary or a **Series**. Both types connects keys to values.
- The `map` method uses our argument to connect or bridge together the values.

- Arg can be dict or series

In [61]:
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [62]:
attack_powers = {
    "Grass": 10,
    "Fire": 15,
    "Water": 10,
    "Fairy, Fighting": 20,
    "Grass, Pychic": 50
}

In [63]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves      NaN
Name: Type, Length: 1010, dtype: float64

In [64]:
pokemon.map(pd.Series(attack_powers))

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves      NaN
Name: Type, Length: 1010, dtype: float64